<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

  body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
    color: #007bff;
    font-size: 28px;
    margin-bottom: 30px;
  }

  form {
    margin-bottom: 20px;
  }

  label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }

  input[type="email"],
  input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    border-radius: 8px;
    font-size: 14px;
  }

  button[type="submit"] {
    width: 102%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  button[type="submit"]:hover {
    background-color: #0056b3;
  }

  button[type="submit"]:focus {
    outline: none;
  }

  a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
  }

  a:hover {
    color: #0056b3;
  }
</style>
<body>
<div class="container">
  <h1>Only Chat</h1>
  <form action="">
    <label for="email">Email</label>
    <input name="email" type="email" placeholder="enter your e-mail here" [(ngModel)]="email" autocomplete="off">
    <label for="name">Name</label>
    <input name="password" type="password" placeholder="enter your name here" [(ngModel)]="password" autocomplete="off">
    <label for="genero">Gênero:</label>
    <br>
    <select id="genero" name="genero">
      <option value="masculino">Masculino</option>
      <option value="feminino">Feminino</option>
    </select>
    <br>
    <br>
    <label for="name">Upload picture</label>
    <a href="">Upload Picture</a>
    <label for="password">Password</label>
    <input name="senha" type="password" placeholder="type your password again here" [(ngModel)]="password" autocomplete="off">
    <label for="password">Type again your password</label>
    <input name="senha" type="password" placeholder="type again your password" [(ngModel)]="password" autocomplete="off">
    <button type="submit">Register</button>
  </form>
</div>
</body>
